@charset "utf-8";

html{
	font:inherit;
}
body{
	background-color: #F4F0C1;
}
#frame{
	width: 1000px;
	height: auto;
	margin: auto;
	background: #F8F5D1;
}
#header{
	position: relative;
	width: 100%;
	height: 185px;
	background-color: #F90;
}
.banner{
	position: absolute;
	margin-left: 180px;
}
.logo{
	position: absolute;
	margin-left: 0px;
}
.tell{
	position: absolute;
	width: auto;
	height: 30px;
	margin-top: 122px;
}
.tell ul{
	list-style: none;
	margin-left: 15px;
}
.tell ul li{
	float: left;
	padding-right: 50px;
	font-size: 20px;
	font-weight: bolder;
	color: black; 
}
.border{
	position: absolute;
	margin-top:150px;
	width: 998px;;
	height: 31px;
	border: 2px solid white;
}
#menu{
	background: center;
	position: relative;
	margin-top: 5px;
	width: auto;
	height: 35px;
	background: orangered;
}
#menu ul{
	position: absolute;
	margin-top: -17px;
	list-style: none;
}
#menu ul li{
	
	float: left;
	font-size: 22px;
	font-weight: bolder;
	color: white;	
	padding: 0px 25px 0px 35px;
}
#menu a:hover{
	color:yellow;
}
#menu a{
	color : white;
	text-decoration: none;
}
#content{
	height: 855px;
	width: 100%;
	margin-top: 15px;
}
.left{
	width:250px;
	float:left;
	height:850px;
	border:1px solid #999;
	background:#F90;
	border: solid white;
}
.left h1{
	font-weight: bolder;
	font-size: 35px;
}
.left ul{
	list-style: square;
	padding-left: 40px;
	font-size: 20px;
	color: #160505;
}
.left p1{
	font-size: 25px;
	font-weight: bold;
}
.left a:hover{
	color: yellow;
	font-weight: bolder;
}
.left a{
	text-decoration: none;
	color: black;
}
.right{
	position: relative;
	width:725px;
	height:150px;
	float:right;
	border:1px solid #999;
	background:#FFF;
	border: solid white;
}
.right1{
	position: relative;
	width:725px;
	height:695px;
	float:right;
	border:1px solid #999;
	background:#F4F0C1;
	border: solid white;
}
.right1 h3{	
	font-weight: bolder;
	font-size: 30px;
}
.right1 ul{
	list-style: square;
	padding-left: 40px;
	font-size: 25px;
	color: #160505;
}
.banner1{
	margin-left: 10px;
	margin-top: 10px;
}
.mon
{
	width:220px;
	height:280px;
	border:1px solid #CCC;
	margin:20px auto;
	float: left;
	text-align:center;
	margin-left:15px;		
}
.order{
	margin-top: -20px;
}
.image
{
	background:center;
	margin-top:5px;
}
.mon h3
{
	margin-top:10px;
}
.banner2{
	margin-left: -11px;
	margin-top: -10px;
}
.mon .image:hover{
	opacity:0.5;
}
.mon .order:hover{
	
}
#bottom{
	margin-top: 10px;
	background: center;
	width: 1000px;
	height: 80px;
	background-color: white;
}
.menu1{
	margin-top: -15px;
	width: 100%;
	float: right;
}
.menu1 ul li{
	list-style: none;
	font-size: 20px;
	font-weight: bolder;
	color: black;
	display: inline-block;
	padding: 0px 35px 0px 40px;
}

.menu1 a:hover{
	color:red;
}
.menu1 a{
	color : black;
	text-decoration: none;
}
.sign{
	position: absolute;
	margin-left: 350px;
	margin-top: 35px;
}
.sign a{
	text-decoration: none;
	color: black;
	font-weight: bolder;
}
.sign a:hover{
	color:red;
}
.form form table{
	border:2px solid #000;
	
}
.form {
	margin-top:20px;
}
.form .formdk{
	width: 700px;
	background-color: #F1F37B;
	margin-top: -10px;
}
.tb{
  	width: 700px;
}
.dknd{
	background-color: orange;
	padding-bottom:20px;
}
.form table td{
	padding-top: 10px;
}
.button{
	padding-top:10px;
	padding-bottom:10px;
}
